*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #111529;
}

.container{
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin: auto;
}

#movie{
    width: 170px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid #E9A10D;
    background: transparent;
    padding-left: 10px;
    outline: none;
    color: white;
}

#button{
    width: 70px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(to right, #E6A227, #745546);
    color: #111529;
    border: none;
    cursor: pointer;
}

.cards{
    display: flex;
    width: 1400px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    color: white;
    margin-top: 40px;
    font-family: sans-serif;
}

.card__info{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.card{
    width: 310px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
}

.card__img{
    width: 300px;
    height: 400px;
}

.main{
    display: flex;
    align-items: center;
    padding-top: 60px;
    gap: 60px;
}

.main_title{
    color: white;
    font-family: sans-serif;
}

.main_left{
    color: #E9A10D;
    font-family: sans-serif;
    font-weight: 550;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img{
    width: 350px;
    height: 450px;
}

.info{
    width: 400px;
}

.main_title{
    width: 400px;
}

.btn_home{
    width: 70px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(to right, #E6A227, #745546);
    color: #111529;
    border: none;
    cursor: pointer;
}

.home{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100px;
}

#form{
    display: flex;
}

.home_a{
    color: #111529;
    text-decoration: none;
}